@model IEnumerable<CoreMVCUyg.Models.WebsiteInfo>
@foreach(var item in Model){
<li class="list-group-item">
	<span class="badge">@item.CalismaSaat</span>
	Hergün:
</li>
<li class="divider-schedule"></li>
}