@model IEnumerable<CoreMVCUyg.Models.Service>
@foreach(var item in Model){
<div class="col-md-4">
    <div class="icon-boxes-shadow">
        <p><i class="fa fa-tablet" aria-hidden="true"></i></p>
        <h3>@item.Header</h3>
        <p>@item.ShortDescription</p>
    </div>
</div>
}