@model IEnumerable<CoreMVCUyg.Models.About>


@{
    ViewData["Title"] = "About";
}

<div class="wrapper">
    <!-- MAIN WRAPPER -->
    <!-- MAIN HEADER -->
    <div class="pages-header">
        <div class="main-nav">
            <div class="top-nav">
                @await Component.InvokeAsync("TopNav")
            </div>

            <hr class="top-line">

            <div class="section">
                        <nav id="navigation1" class="navigation">

                    <div class="nav-header">
                        <a class="nav-logo" href="index.html">
                            <img src="../assets/img/master/logo.png" alt="logo">
                        </a>
                        <div class="nav-toggle"></div>
                    </div>

                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu align-to-right">
                            <li>
                                <a href="~/Home">ANASAYFA</a>
                                <div class="megamenu-panel">
                                    <div class="megamenu-lists">
                                        <ul class="megamenu-list list-col-4">
                                            <li><a href="1-agency.html">Agency</a></li>
                                            <li><a href="2-beauty.html">Beauty</a></li>
                                            <li><a href="3-construction.html">Construction</a></li>
                                            <li><a href="4-corporate.html">Corporate</a></li>

                                        </ul>
                                        <ul class="megamenu-list list-col-4">
                                            <li><a href="5-courier.html">Courier</a></li>
                                            <li><a href="6-dealer.html">Dealer</a></li>
                                            <li><a href="7-dental.html">Dental</a></li>
                                            <li><a href="8-education.html">Education</a></li>

                                        </ul>
                                        <ul class="megamenu-list list-col-4">
                                            <li><a href="9-gym.html">Gym</a></li>
                                            <li><a href="10-hotel.html">Hotel</a></li>
                                            <li><a href="11-medical.html">Medical</a></li>
                                            <li><a href="12-restaurant.html">Restaurant</a></li>

                                        </ul>
                                        <ul class="megamenu-list list-col-4">
                                            <li><a href="13-charity.html">Charity</a></li>
                                            <li><a href="14-cleaning.html">Cleaning</a></li>
                                            <li><a href="15-finance.html">Finance</a></li>
                                            <li><a href="16-industrial.html">Industrial</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="~/About">HAKKIMIZDA</a>
                                <ul class="nav-dropdown">
                                    <li>
                                        <a href="#">ABOUT</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="about-style-1.html">About Style 1</a></li>
                                            <li><a href="about-style-2.html">About Style 2</a></li>
                                            <li><a href="about-style-3.html">About Style 3</a></li>
                                            <li><a href="about-style-4.html">About Style 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">CAREERS</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="careers-style-1.html">Careers Style 1</a></li>
                                            <li><a href="careers-style-2.html">Careers Style 2</a></li>
                                            <li><a href="careers-style-3.html">Careers Style 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">COMING SOON</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="coming-soon-style-1.html">Coming Soon Style 1</a></li>
                                            <li><a href="coming-soon-style-2.html">Coming Soon Style 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">CONTACT</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="contact-style-1.html">Contact Style 1</a></li>
                                            <li><a href="contact-style-2.html">Contact Style 2</a></li>
                                            <li><a href="contact-style-3.html">Contact Style 3</a></li>
                                            <li><a href="contact-style-4.html">Contact Style 4</a></li>
                                            <li><a href="contact-style-5.html">Contact Style 5</a></li>
                                            <li><a href="contact-style-6.html">Contact Style 6</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="login-register-style-1.html">LOGIN/REGISTER</a></li>
                                    <li>
                                        <a href="#">PROFILE</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="profile-style-1.html">Profile Style 1</a></li>
                                            <li><a href="profile-style-2.html">Profile Style 2</a></li>
                                            <li><a href="profile-style-3.html">Profile Style 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">SERVICES</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="services-style-1.html">Services Style 1</a></li>
                                            <li><a href="services-style-2.html">Services Style 2</a></li>
                                            <li><a href="services-style-3.html">Services Style 3</a></li>
                                            <li><a href="services-style-4.html">Services Style 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">TEAM</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="team-style-1.html">Team Style 1</a></li>
                                            <li><a href="team-style-2.html">Team Style 2</a></li>
                                            <li><a href="team-style-3.html">Team Style 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">404 PAGE</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="404-error-style-1.html">404 Page Style 1</a></li>
                                            <li><a href="404-error-style-2.html">404 Page Style 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="~/Product">ÜRÜNLER</a>
                                <div class="megamenu-panel">
                                    @await Component.InvokeAsync("NavbarMenu")
                                </div>
                            </li>
                           
                            <li>
                                <a href="~/Contact">İLETİŞİM</a>
                                <ul class="nav-dropdown">
                                    <li>
                                        <a href="#">CLASSIC</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="blog/blog-full-width.html">Full width</a></li>
                                            <li><a href="blog/blog-left-sidebar.html">Left sidebar</a></li>
                                            <li><a href="blog/blog-right-sidebar.html">Right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">GRID</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="blog/blog-grid-one-column.html">One column</a></li>
                                            <li><a href="blog/blog-grid-two-column.html">Two column</a></li>
                                            <li><a href="blog/blog-grid-three-column.html">Three column</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">THUMBNAIL</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="blog/thumbnail-full-width.html">Full width</a></li>
                                            <li><a href="blog/thumbnail-left-sidebar.html">Left sidebar</a></li>
                                            <li><a href="blog/thumbnail-right-sidebar.html">Right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">SINGLE POST</a>
                                        <ul class="nav-dropdown">
                                            <li><a href="blog/single-post-left-sidebar.html">Left sidebar</a></li>
                                            <li><a href="blog/single-post-right-sidebar.html">Right sidebar</a></li>
                                            <li><a href="blog/video-post.html">Video post</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>

        </div>
        <div class="section-heading">
            <div class="section">
                <div class="span-title">
                    <h1>About Us</h1>
                    <div class="page-map"><p>Home &nbsp;/&nbsp; About Us</p></div>
                </div>
            </div>
        </div>
    </div><!-- END MAIN HEADER -->

    <div class="main">
        <div class="section">
            @await Component.InvokeAsync("About")
        </div>
    </div>

    <div class="main color-background">
        <div class="section">
            <div class="section-title">
                <h2>Our Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                <hr class="center">
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="team-card">
                        <div class="team-avatar">
                            <img src="../assets/img/images/profile.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <div class="team-items"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                                    <div class="team-items"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                                    <div class="team-items"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h5>Donald Jones</h5>
                            <h6>Developer</h6>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-card">
                        <div class="team-avatar">
                            <img src="../assets/img/images/profile-2.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <div class="team-items"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                                    <div class="team-items"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                                    <div class="team-items"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h5>Lisa Doe</h5>
                            <h6>Developer</h6>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-card">
                        <div class="team-avatar">
                            <img src="../assets/img/images/profile-3.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <div class="team-items"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                                    <div class="team-items"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                                    <div class="team-items"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h5>Matt Luke</h5>
                            <h6>Developer</h6>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-card">
                        <div class="team-avatar">
                            <img src="../assets/img/images/profile-4.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <div class="team-items"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                                    <div class="team-items"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                                    <div class="team-items"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h5>Sara Smith</h5>
                            <h6>Developer</h6>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section">
            <div class="section-title">
                <h2>Our Services</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                <hr class="center">
            </div>
            <div class="row">
                @await Component.InvokeAsync("AboutService")
                
            </div>
        </div>
    </div>

    <div class="main counter-background">
        <div class="section">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="inner-counter">
                        <div class="counter-icon"><img src="../assets/img/master/bars.png" alt=""></div>
                        <div class="counter-statistics">
                            <div class="counter"><h1>3999</h1></div>
                            <h5>PROJECTS LAUNCHED</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="inner-counter">
                        <div class="counter-icon"><img src="../assets/img/master/sports.png" alt=""></div>
                        <div class="counter-statistics">
                            <div class="counter"><h1>7900</h1></div>
                            <h5>COMPLETE GOALS</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="inner-counter">
                        <div class="counter-icon"><img src="../assets/img/master/people.png" alt=""></div>
                        <div class="counter-statistics">
                            <div class="counter"><h1>8999</h1></div>
                            <h5>HAPPY CUSTOMERS</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="inner-counter">
                        <div class="counter-icon"><img src="../assets/img/master/technology.png" alt=""></div>
                        <div class="counter-statistics">
                            <div class="counter"><h1>10092</h1></div>
                            <h5>CARS IN STOCK</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section">
            <div class="section-title">
                <h2>Customers Testimonials</h2>
                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure.</p>
                <hr class="center">
            </div>
            <div class="main-gallery">
                <div class="gallery-cell">
                    <div class="testimonial-section">
                        <div class="avatar"><img src="../assets/img/images/avatar1.jpg" alt=""></div>
                        <div class="testimonial-quote">
                            <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Paul Thomas</h6>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="testimonial-section">
                        <div class="avatar"><img src="../assets/img/images/avatar2.jpg" alt=""></div>
                        <div class="testimonial-quote">
                            <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Albert Belle</h6>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="testimonial-section">
                        <div class="avatar"><img src="../assets/img/images/avatar3.jpg" alt=""></div>
                        <div class="testimonial-quote">
                            <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        </div>
                        <div class="autor">
                            <h6>Camile Smith</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- END MAIN WRAPPER -->

